<table class="chart" data-action="dragstart->chart#onDragStart dragover->chart#onDragOver dragenter->chart#onDragEnter drop->chart#onDrop dragend->chart#onDragEnd">
  <% classroom.total_rows.times do %>
    <tr>
      <% classroom.total_columns.times do %>
        <td draggable="true" data-row="" data-col="" data-student="" class="seat">
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
