// on dashboard
.s-class-cards {
  display: flex;
  color: black;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  width: 20vw;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F1DEC9;
  box-shadow: 2px 2px 6px #8D7B68;
}

.classroom-cards {
  display: flex;
  color: black;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  width: 15vw;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F1DEC9;
  box-shadow: 2px 2px 6px #8D7B68;
}

.classroom-cards p, .s-class-cards p {
  margin-bottom: 0px;
}

// on classroom show page
.show {
  width: 90%;
  [draggable=true] {
    cursor: move;
    cursor: grab;
  }
  resize: both;
  max-width: 300px;
  max-height: 80px;
}
