.s-class-cards {
  display: flex;
  color: black;
  padding: 8px;
  margin: 10px;
  border-radius: 6px;
  width: 20vw;
  justify-content: center;
  flex-wrap: wrap;
}

.classroom-cards {
  color: black;
  padding: 5px;
  border-radius: 6px;
  width: 15vw;
}
