.students-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.student-info {
  margin: 4px;
  padding: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
